<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Code Reusability/src/com/codercamps/redmond/CodeReusability.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.codercamps.redmond.CodeReusability"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Code Reusability"/>
</launchConfiguration>
