h1 {
    color: darkred;
}
td {
    color: brown;
    background-color: lightblue;
}
th {
    color: darkblue;
    font-family: Helvetica;
}

.Required {
    color: red;
}
#Male{
    height: 2em;
}
a:hover {
    color: darkorchid;
    background-color: yellowgreen;
}

.header :first-child {
    color: red;
    font-size: large;
}
.header :nth-child(even) {
    color: green;
}

#div2 {
    height: 200px;
    width: 200px;
    background-color: blue;
}

.divv {
    height:100px;
    width:100px;
    background-color: red;
}